$maxW: 50rem;
$minW: 30rem;

* {
	font-family: 'Lato', sans-serif, helvetica, small-caps;
	// font-variant: small-caps;
}
body {
	position: relative; max-width: 1500px; margin: 0 auto;
}

@media all and (max-width: 500px) and (min-width: 0px) {
	input[type="text"] {
		display:block;
		width: auto;
	}
}

//HEADER
header {
	text-align: center;
	position: relative;
	margin: 0rem auto; padding: 0rem;
	.title {
		text-align: center;
		transition: color 300ms, text-shadow 300ms; 
		margin: 0rem; max-height: 0.3rem;
		}
	.title:hover {
		color: rgba(255,255,255,1);
		text-shadow: -0.37rem 0 rgba(80,80,80,1), 0 0.37rem rgba(80,80,80,1), 0.37rem 0 rgba(80,80,80,1), 0 -0.37rem rgba(80,80,80,1), -0.67rem 0 rgba(255,0,0,0.2), 0 0.67rem rgba(255,0,0,0.2), 0.67rem 0 rgba(255,0,0,0.2), 0 -0.67rem rgba(255,0,0,0.2);
		fill:white;
	}
}

@media only screen and (max-width: 600px){
	header {
		.title {
			font-size: 9.5rem; 
			padding: 0rem 0rem; 
		}
	}
}
@media only screen and (min-width: 601px) and (max-width: 1000px){
	header {
		.title {
			font-size: 8rem; 
			padding: 0rem 0.5rem;
		}
	}
}
@media only screen and (min-width: 1001px){
	header {
		.title {
			font-size: 8rem; 
			padding: 0rem 0.5rem;
		}
	}
}



//SECTION

@media only screen and (max-width: 600px){
	#enterMolecule {
		font-size: 3.0rem;
		min-width: 3rem;
	}
}
@media only screen and (min-width: 601px) and (max-width: 1000px){
	#enterMolecule {
		font-size: 3.0rem;
		min-width: 3rem;
	}
}
@media only screen and (min-width: 1001px){
	#enterMolecule {
		font-size: 2.3rem;
		min-width: 3rem;
	}
}

section {
	position: relative; max-width: $maxW; //max-width: 65%; min-width: 65%; 
	text-align: center; // float: center;
	margin: 0rem auto;
	#enterMolecule {
		text-align: center;
		position: relative; max-width: $maxW;
		overflow: hidden; 
	}

}

#drawingSpace {
	font-family: menlo !important;
	position: relative; min-height: 20rem; max-height: 20rem; min-width: $minW; max-width: $maxW; 
	overflow: scroll; margin: 0 auto;
	border: 0.1rem solid rgba(0,0,0,0.1); //border-radius: 15rem;
	box-shadow: inset 0rem 0rem 0.5rem 0.2rem rgba(0,0,0,0.1);
	transition: border 150ms, margin 150ms, box-shadow 300ms, font-weight 200ms, stroke-width 200ms;
	svg {
		line {
			stroke: rgba(0,0,0,1); 
			stroke-width: 1.5;
			display: inline;
			transition: stroke-width 300ms;
		}
		line:hover {
			stroke-width: 3;
		}
	}
	span {
		font-family: menlo !important;
		transition: font-weight 300ms;
	}
	span:hover {
		font-weight: bolder;
	}
}

#smallDisplay, #bigDisplay {
	position: relative; min-width: $minW; max-width: $maxW;
	margin: 0.3rem auto;
	overflow: hidden;
	box-shadow: inset 0rem 0rem 0.5rem 0.2rem rgba(0,0,0,0.1);
	transition: border 150ms, margin 150ms, box-shadow 300ms;
	display: block;
}

#smallDisplay {
	font-size: 2.3rem;
	min-height: 3.2rem; max-height: 3.2rem; 
	padding-top: 0.4rem; overflow-y: auto; overflow-x: auto;
}

#bigDisplay {
	min-height: 1rem; // max-height: 9rem;
	font-size: 2rem;
	span {
		position: relative; top: 1rem;
	}
}

#drawingSpace:hover {
	box-shadow: inset 0rem 0rem 4rem 0.5rem rgba(0,0,0,0.1);
}

#smallDisplay:hover, #bigDisplay:hover {
	box-shadow: inset 0rem 0rem 1.5rem 0.5rem rgba(0,0,0,0.1);
}

#drawn {
	width: auto;
	min-width: $maxW; max-width: $maxW; min-height: 20rem; max-height: 20rem; //supposedToBe 20rem
	/*This represent the drawn strokes, THIS ALSO GIVES THE SIZE FOR SVG, CAREFULL*/
}

//----------------------------------------------------------------------------------------

@media only screen and (max-width: 600px) and (max-height: 1200px) {
	article {
		font-size: 5rem;
	}
}
@media only screen and (min-width: 601px) and (max-width: 1000px) and (min-height: 1201px) and (max-height: 2000px) {
	article {
		font-size: 4rem;
	}
}
@media only screen and (min-width: 1001px) {
	article {
		font-size: 1.7rem;
	}
}


article {
	position: relative; min-width: $minW; // min-height: auto; max-height: auto; // min-width: 100%;
	background-color: rgba(255,0,0,0.08); 
	overflow: hidden;
	box-shadow: inset 0rem 0rem 0.6rem 0.07rem rgba(50,0,0,0.7);
	font-size: 1.7rem;
	#divBlock {
		max-width: $maxW;
		min-width: $minW;
		width: 95%;
		margin: 0rem auto;
		text-align: left !important;
		h1, h2, h3, h4, h5, h6 {
			font-size: 3rem !important;
			padding: 0rem; margin: 1rem 0rem 0rem 0rem;
		}
		p{
			padding: 0rem; margin: 0rem;
		}
		ol, ul {
			margin: 1rem 0rem; padding: 1rem 0rem;
			width: 88%; margin: 0rem auto;
			input {
				font-size: 1.5rem;
				max-width: 20rem;
			}
		}
		span {
			font-size: 5rem !important;
			margin: 1rem 0rem; padding: 1rem 0rem;
			font-weight: bold; display: inline;
			transition: text-shadow 400ms, color 300ms;
		}
		span:hover {
			color: white;
			text-shadow: -0.1rem 0rem rgba(0,0,0,1), 0rem 0.1rem rgba(0,0,0,1), 0.1rem 0rem rgba(0,0,0,1), 0rem -0.1em rgba(0,0,0,1);
		}
	}
}

// LINKS!

a:link {
	text-decoration: none;
	font-weight: bold;
	color: black;
	text-shadow: 0.15rem 0.15rem rgba(255,0,0,0.05), -0.15rem -0.15rem rgba(255,0,0,0.05), -0.15rem 0.15rem rgba(255,0,0,0.05), 0.15rem -0.15rem rgba(255,0,0,0.05), 0.1rem 0.1rem rgba(255,255,255,1), -0.1rem -0.1rem rgba(255,255,255,1), -0.1rem 0.1rem rgba(255,255,255,1), 0.1rem -0.1rem rgba(255,255,255,1);
	transition: text-shadow 200ms, color 200ms, font-weight 200ms;
}

a:hover {
	text-shadow: 0.2rem 0.2rem rgba(0,0,0,0.2), -0.2rem -0.2rem rgba(0,0,0,0.08);
	font-weight: bolder;
	color: rgba(90,90,90,1);
}

a:active {
	text-shadow: 0.1rem 0.1rem rgba(0,0,0,1), -0.1rem -0.1rem rgba(0,0,0,1);
	color: white;
}

a:visited {
	@extend a:link;
}
