* {
  font-family: 'Alegreya Sans SC', sans-serif; }

body {
  position: relative;
  max-width: 1500px;
  margin: 0 auto; }

#enterMolecule {
  font-size: 2rem;
  text-align: center;
  position: relative;
  max-width: 50rem;
  overflow: hidden; }

#time {
  text-align: center !important;
  position: relative;
  max-width: 99%;
  font-weight: bolder;
  float: bottom;
  min-height: 1.2rem;
  display: block;
  transition: text-shadow 300ms, color 300ms; }

#time:hover {
  color: white;
  text-shadow: -0.1rem 0rem black, 0rem 0.1rem black, 0.1rem 0rem black, 0rem -0.1em black, 0rem -0.3em black; }

header {
  text-align: center;
  position: relative;
  margin: 0rem auto;
  padding: 0rem; }

.title {
  text-align: center;
  transition: color 300ms, text-shadow 300ms;
  font-size: 7rem;
  padding: 0 0.2rem; }

.title:hover {
  color: white;
  text-shadow: -0.37rem 0 #505050, 0 0.37rem #505050, 0.37rem 0 #505050, 0 -0.37rem #505050, -0.67rem 0 rgba(255, 0, 0, 0.2), 0 0.67rem rgba(255, 0, 0, 0.2), 0.67rem 0 rgba(255, 0, 0, 0.2), 0 -0.67rem rgba(255, 0, 0, 0.2);
  fill: white; }

section {
  position: relative;
  max-width: 65%;
  min-width: 65%;
  text-align: center;
  margin: 0 auto; }

#drawingSpace {
  font-family: Times !important;
  position: relative;
  min-height: 20rem;
  max-height: 20rem;
  min-width: 30rem;
  max-width: 50rem;
  overflow: scroll;
  margin: 0 auto;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0rem 0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: border 150ms, margin 150ms, box-shadow 300ms, font-weight 200ms, stroke-width 200ms; }
  #drawingSpace svg line {
    stroke: black;
    stroke-width: 1.5;
    display: inline;
    transition: stroke-width 300ms; }
  #drawingSpace svg line:hover {
    stroke-width: 3; }
  #drawingSpace span {
    transition: font-weight 300ms; }
  #drawingSpace span:hover {
    font-weight: bolder; }

#smallDisplay, #bigDisplay {
  position: relative;
  min-width: 30rem;
  max-width: 50rem;
  margin: 0.4rem auto;
  overflow: hidden;
  box-shadow: inset 0rem 0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: border 150ms, margin 150ms, box-shadow 300ms; }

#smallDisplay {
  font-size: 1.3rem;
  min-height: 1.9rem;
  max-height: 1.9rem;
  padding-top: 0.4rem;
  overflow: scroll; }

#bigDisplay {
  min-height: 1rem;
  font-size: 1.2rem; }
  #bigDisplay span {
    position: relative;
    top: 1rem; }

#drawingSpace:hover {
  box-shadow: inset 0rem 0rem 4rem 0.5rem rgba(0, 0, 0, 0.1); }

#smallDisplay:hover, #bigDisplay:hover {
  box-shadow: inset 0rem 0rem 1.5rem 0.5rem rgba(0, 0, 0, 0.1); }

#drawn {
  max-width: 50rem;
  max-height: 20rem;
  min-width: 50rem;
  min-height: 20rem;
  /*This represent the drawn strokes*/ }

/*SVG ELEMENTS NEXT*/
article {
  position: relative;
  max-width: auto;
  min-height: 25rem;
  max-height: auto;
  background-color: rgba(255, 0, 0, 0.08);
  overflow: hidden;
  box-shadow: inset 0rem 0rem 0.6rem 0.07rem rgba(0, 0, 0, 0.5);
  padding: 0.3rem 1.5% 0% 1.5%;
  float: right;
  font-size: 1rem; }
  article h1, article h2, article h3, article h4, article h5, article h6 {
    padding-bottom: 0.5rem !important;
    padding-top: 0rem;
    margin-top: 0rem; }
  article span {
    font-weight: bold;
    display: inline; }
  article p, article ol {
    margin: auto 0rem;
    text-align: left !important; }
    article p input, article ol input {
      font-size: 1.5rem;
      max-width: 20rem; }
  article span {
    transition: text-shadow 400ms, color 300ms; }
  article span:hover {
    color: white;
    text-shadow: -0.1rem 0rem black, 0rem 0.1rem black, 0.1rem 0rem black, 0rem -0.1em black; }

h1, h2, h3, h4, h5, h6 {
  padding: 0rem;
  margin: 0rem; }

a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-shadow: 0.15rem 0.15rem rgba(255, 0, 0, 0.05), -0.15rem -0.15rem rgba(255, 0, 0, 0.05), -0.15rem 0.15rem rgba(255, 0, 0, 0.05), 0.15rem -0.15rem rgba(255, 0, 0, 0.05), 0.1rem 0.1rem white, -0.1rem -0.1rem white, -0.1rem 0.1rem white, 0.1rem -0.1rem white;
  transition: text-shadow 200ms, color 200ms, font-weight 200ms; }

a:hover {
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.2), -0.2rem -0.2rem rgba(0, 0, 0, 0.08);
  font-weight: bolder;
  color: #5a5a5a; }

a:active {
  text-shadow: 0.1rem 0.1rem black, -0.1rem -0.1rem black;
  color: white; }

/*# sourceMappingURL=stylesheets.css.map */
