// $maxW: 50rem;
$maxW: 800px;
$minW: 30rem;

* {
	font-family: 'Lato', sans-serif, helvetica, small-caps;
	// font-variant: small-caps;
}
body {
	position: relative; max-width: 1500px; margin: 0 auto;
}

@media all and (max-width: 500px) and (min-width: 0px) {
	input[type="text"] {
		display:block;
		width: auto;
	}
}

//HEADER
header {
	text-align: center;
	position: relative;
	margin: 0rem auto 0rem auto;
	padding: 0rem 0rem 0rem 0rem;
	z-index: 1;
	background-color: white;
	//-----
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+52,ff0000+100&0+0,0.25+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.13) 62%, rgba(255,0,0,0.15) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.13) 62%,rgba(255,0,0,0.15) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.13) 62%,rgba(255,0,0,0.15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#40ff0000',GradientType=0 ); /* IE6-9 */
	//-----
	#spacerOnTitle{
		color: white; font-size: 5.5rem; display: inline-block;
	}
	.title {
		text-align: center;
		text-transform: uppercase; font-weight: bold;
		transition: color 300ms, text-shadow 300ms; display: inline-block;
		margin: -1.5rem -0.5rem -5rem -0.5rem; padding: 0.7rem 0.7rem 0rem 0.7rem; height: 6.5rem; 
		}
	.title:hover {
		color: rgba(255,255,255,1);
		text-shadow: -0.22rem 0 rgba(80,80,80,1), 0 0.22rem rgba(80,80,80,1), 0.22rem 0 rgba(80,80,80,1), 0 -0.22rem rgba(80,80,80,1), -0.47rem 0 rgba(255,0,0,0.2), 0 0.47rem rgba(255,0,0,0.2), 0.47rem 0 rgba(255,0,0,0.2), 0 -0.47rem rgba(255,0,0,0.2);
		fill:white;
	}
}

@media only screen and (max-width: 600px){
	header {
		.title {
			font-size: 7rem; 
		}
	}
}
@media only screen and (min-width: 601px) and (max-width: 1000px){
	header {
		.title {
			font-size: 7rem; 
		}
	}
}
@media only screen and (min-width: 1001px){
	header {
		.title {
			font-size: 5.5rem; 
		}
	}
}

#lineSplit {
	display: block;
	min-height: 0.4rem; margin-bottom: 0.3rem;
	background-color: rgba(0,0,0,1);
	z-index: 10;
}
section {
	position: relative; max-width: $maxW; //max-width: 65%; min-width: 65%; 
	text-align: center; // float: center;
	margin: 0rem auto;
	#enterMolecule {
		font-size: 4.0rem;
		min-width: 3rem;
		text-align: center;
		position: relative; max-width: $maxW;
		overflow: hidden; margin-bottom: 0.3rem;
	}
}
#drawingSpace {
	// font-family: menlo !important;
	position: relative; min-height: 20rem; max-height: 20rem; min-width: $minW; max-width: $maxW; 
	overflow: scroll; margin: 0 auto;
	border: 0.1rem solid rgba(0,0,0,0.1); //border-radius: 15rem;
	box-shadow: inset 0rem 0rem 0.5rem 0.2rem rgba(0,0,0,0.1);
	transition: border 150ms, margin 150ms, box-shadow 300ms, font-weight 200ms, stroke-width 200ms;
	svg {
		line {
			stroke: rgba(0,0,0,1); 
			stroke-width: 1.5;
			display: inline;
			transition: stroke-width 300ms;
		}
		line:hover {
			stroke-width: 3;
		}
	}
	span {
		font-family: 'Anonymous Pro', monospace !important;
		transition: font-weight 300ms;
	}
	span:hover {
		font-weight: bolder;
	}
}
#smallDisplay, #bigDisplay {
	position: relative; min-width: $minW; max-width: $maxW;
	margin: 0.3rem auto;
	box-shadow: inset 0rem 0rem 0.5rem 0.2rem rgba(0,0,0,0.1);
	transition: border 150ms, margin 150ms, box-shadow 300ms;
	display: block;
}
#smallDisplay {
	font-size: 2.3rem;
	overflow: hidden;
}
#bigDisplay {
	min-height: 1rem; // max-height: 9rem;
	font-size: 1.5rem;
	padding: 0.75rem 0.375rem;
	overflow-y: auto; overflow-x: auto;
	span {
		position: relative; top: 1rem;
	}
}
#drawingSpace:hover {
	box-shadow: inset 0rem 0rem 4rem 0.5rem rgba(0,0,0,0.1);
}
#smallDisplay:hover, #bigDisplay:hover {
	box-shadow: inset 0rem 0rem 1.5rem 0.5rem rgba(0,0,0,0.1);
}
#drawn {
	// width: auto;
	// max-width: $maxW; min-height: 20rem; max-height: 20rem; min-width: $minW; 
	/*This represent the drawn strokes, THIS ALSO GIVES THE SIZE FOR SVG, CAREFULL*/
}
//----------------------------------------------------------------------------------------
@media only screen and (max-width: 600px) {
	article {
		font-size: 4rem;
		#divBlock {
			span {
				font-size: 5rem;
			}
		}
	}
}
@media only screen and (min-width: 601px) and (max-width: 1000px) {
	article {
		font-size: 2rem;
		#divBlock {
			span {
				font-size: 4rem;
			}
		}
	}
}
@media only screen and (min-width: 1001px) {
	article {
		font-size: 2rem;
		#divBlock {
			span {
				font-size: 4rem;
			}
		}
	}
}

article {
	position: relative; min-width: $minW; // min-height: auto; max-height: auto; // min-width: 100%;
	background-color: rgba(255,0,0,0.08); 
	overflow: hidden;
	box-shadow: inset 0rem 0rem 0.6rem 0.07rem rgba(50,0,0,0.7);
	form {
		display: inline-block;
		min-width: 85%;
		margin: 0rem; padding: 0rem;
		input {
			min-width: 100%;
			display: block;
			line-height: 3rem;
			padding: 0 1rem;
		}
	}
	// font-size: 2rem;
	#divBlock {
		max-width: $maxW;
		min-width: $minW;
		width: 85%;
		margin: 0rem auto;
		text-align: left !important;
		h1, h2, h3, h4, h5, h6 {
			padding: 0rem; margin: 0.5rem 0rem 0rem 0rem;
		}
		p{
			padding: 0rem; margin: 0rem;
		}
		ol, ul {
			margin: 1rem 0rem; padding: 1rem 0rem;
			width: 88%; margin: 0rem auto;
			input {
				font-size: 1.5rem;
				max-width: 20rem;
			}
		}
		span {
			text-transform: uppercase;
			margin: 1rem 0rem; padding: 1rem 0rem;
			font-weight: bold; display: inline;
			transition: text-shadow 400ms, color 300ms;
		}
		span:hover {
			color: white;
			text-shadow: -0.1rem 0rem rgba(0,0,0,1), 0rem 0.1rem rgba(0,0,0,1), 0.1rem 0rem rgba(0,0,0,1), 0rem -0.1em rgba(0,0,0,1);
		}
	}
}

// LINKS!

a:link {
	text-decoration: none;
	font-weight: bold;
	color: black;
	text-shadow: 0.15rem 0.15rem rgba(255,0,0,0.05), -0.15rem -0.15rem rgba(255,0,0,0.05), -0.15rem 0.15rem rgba(255,0,0,0.05), 0.15rem -0.15rem rgba(255,0,0,0.05), 0.1rem 0.1rem rgba(255,255,255,1), -0.1rem -0.1rem rgba(255,255,255,1), -0.1rem 0.1rem rgba(255,255,255,1), 0.1rem -0.1rem rgba(255,255,255,1);
	transition: text-shadow 200ms, color 200ms, font-weight 200ms;
}
a:hover {
	text-shadow: 0.2rem 0.2rem rgba(0,0,0,0.2), -0.2rem -0.2rem rgba(0,0,0,0.08);
	font-weight: bolder;
	color: rgba(90,90,90,1);
}
a:active {
	text-shadow: 0.1rem 0.1rem rgba(0,0,0,1), -0.1rem -0.1rem rgba(0,0,0,1);
	color: white;
}
a:visited {
	@extend a:link;
}

#instructions {
	display: block; 
	position: absolute; bottom: 0rem;  margin: 0px auto; 
	min-height: 3rem; //background-color: rgba(0,0,0,0.1);
	width: 100%;
	border-radius: 200px; padding: 0.5rem; 
	font-size: 2rem;
	line-height: 3rem; text-align: center;
	color: rgba(255,0,0,0.5);
	z-index: 1000;
}

