* {
  font-family: 'Alegreya Sans SC', sans-serif; }

body {
  position: relative;
  max-width: 1500px;
  margin: 0 auto; }

header {
  text-align: center;
  position: relative;
  margin: 0rem auto;
  padding: 0rem; }
  header .title {
    text-align: center;
    transition: color 300ms, text-shadow 300ms;
    font-size: 7rem;
    padding: 0 0.2rem; }
  header .title:hover {
    color: white;
    text-shadow: -0.37rem 0 #505050, 0 0.37rem #505050, 0.37rem 0 #505050, 0 -0.37rem #505050, -0.67rem 0 rgba(255, 0, 0, 0.2), 0 0.67rem rgba(255, 0, 0, 0.2), 0.67rem 0 rgba(255, 0, 0, 0.2), 0 -0.67rem rgba(255, 0, 0, 0.2);
    fill: white; }
  header #time {
    text-align: center !important;
    position: relative;
    max-width: 99%;
    font-weight: bolder;
    float: bottom;
    min-height: 1.2rem;
    display: block;
    transition: text-shadow 300ms, color 300ms; }
  header #time:hover {
    color: white;
    text-shadow: -0.1rem 0rem black, 0rem 0.1rem black, 0.1rem 0rem black, 0rem -0.1em black, 0rem -0.3em black; }

section {
  position: relative;
  max-width: 50rem;
  text-align: center;
  margin: 0rem auto; }
  section #enterMolecule {
    font-size: 2rem;
    text-align: center;
    position: relative;
    max-width: 50rem;
    overflow: hidden; }

#drawingSpace {
  font-family: Times !important;
  position: relative;
  min-height: 20rem;
  max-height: 20rem;
  min-width: 30rem;
  max-width: 50rem;
  overflow: scroll;
  margin: 0 auto;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0rem 0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: border 150ms, margin 150ms, box-shadow 300ms, font-weight 200ms, stroke-width 200ms; }
  #drawingSpace svg line {
    stroke: black;
    stroke-width: 1.5;
    display: inline;
    transition: stroke-width 300ms; }
  #drawingSpace svg line:hover {
    stroke-width: 3; }
  #drawingSpace span {
    transition: font-weight 300ms; }
  #drawingSpace span:hover {
    font-weight: bolder; }

#smallDisplay, #bigDisplay {
  position: relative;
  min-width: 30rem;
  max-width: 50rem;
  margin: 0.3rem auto;
  overflow: hidden;
  box-shadow: inset 0rem 0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: border 150ms, margin 150ms, box-shadow 300ms;
  display: block; }

#smallDisplay {
  font-size: 1.3rem;
  min-height: 1.9rem;
  max-height: 1.9rem;
  padding-top: 0.4rem; }

#bigDisplay {
  min-height: 1rem;
  font-size: 1.2rem; }
  #bigDisplay span {
    position: relative;
    top: 1rem; }

#drawingSpace:hover {
  box-shadow: inset 0rem 0rem 4rem 0.5rem rgba(0, 0, 0, 0.1); }

#smallDisplay:hover, #bigDisplay:hover {
  box-shadow: inset 0rem 0rem 1.5rem 0.5rem rgba(0, 0, 0, 0.1); }

#drawn {
  max-width: 50rem;
  max-height: 20rem;
  min-width: 50rem;
  min-height: 20rem;
  /*This represent the drawn strokes*/ }

article {
  position: relative;
  min-width: 100%;
  background-color: rgba(255, 0, 0, 0.08);
  overflow: hidden;
  box-shadow: inset 0rem 0rem 0.6rem 0.07rem rgba(0, 0, 0, 0.5);
  float: right;
  font-size: 1.3rem; }
  article #divBlock {
    max-width: 50rem;
    min-width: 30rem;
    margin: 0rem auto;
    text-align: left !important; }
    article #divBlock h1, article #divBlock h2, article #divBlock h3, article #divBlock h4, article #divBlock h5, article #divBlock h6 {
      padding: 0rem;
      margin: 1rem 0rem 0rem 0rem;
      font-size: 2rem !important; }
    article #divBlock p {
      padding: 0rem;
      margin: 0rem; }
    article #divBlock ol, article #divBlock ul {
      margin: 1rem 0rem;
      padding: 1rem 0rem;
      width: 88%;
      margin: 0rem auto; }
      article #divBlock ol input, article #divBlock ul input {
        font-size: 1.5rem;
        max-width: 20rem; }
    article #divBlock span {
      margin: 1rem 0rem;
      padding: 1rem 0rem;
      font-weight: bold;
      display: inline;
      font-size: 2rem !important;
      transition: text-shadow 400ms, color 300ms; }
    article #divBlock span:hover {
      color: white;
      text-shadow: -0.1rem 0rem black, 0rem 0.1rem black, 0.1rem 0rem black, 0rem -0.1em black; }

a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-shadow: 0.15rem 0.15rem rgba(255, 0, 0, 0.05), -0.15rem -0.15rem rgba(255, 0, 0, 0.05), -0.15rem 0.15rem rgba(255, 0, 0, 0.05), 0.15rem -0.15rem rgba(255, 0, 0, 0.05), 0.1rem 0.1rem white, -0.1rem -0.1rem white, -0.1rem 0.1rem white, 0.1rem -0.1rem white;
  transition: text-shadow 200ms, color 200ms, font-weight 200ms; }

a:hover {
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.2), -0.2rem -0.2rem rgba(0, 0, 0, 0.08);
  font-weight: bolder;
  color: #5a5a5a; }

a:active {
  text-shadow: 0.1rem 0.1rem black, -0.1rem -0.1rem black;
  color: white; }

/*# sourceMappingURL=stylesheets.css.map */
